<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="AU3h0t_Lpf7yNO4NBDPCOw2CXc-xRPWumdlPbrN63C_E0l-ca3jxhHG3p5U0Ns0SUImc3kNaheiWktuN"/>
      <add name="clientSecret" value="EEL6iXqag6dh9HUPNhQmNvC86t60-XjaxdEvsRglH5T0ZsyaboW8kaH_9WRkvDF9EMSYWg2jbVK1Mf9i"/>
    </settings>
  </paypal>
</configuration>